.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}


section#upload ul {
	list-style-type: none;
	padding-left: 0px;
}




.divider {
  height: 2px;
  width:100%;
  display:block;
  margin: 9px 10px 10px 10px;
  overflow: hidden;
  background-color: #2c3e50;
}


@media (min-width: 768px) {
	.sidebar-nav {
	    top: 0;
	    margin: 10px;
	    padding: 0;
		width: 200px;
	}
}


.sidebar-nav {
   	list-style: none;
    top: 0;
    margin: 10px;
	padding: 0;
	font-size: 12px;
	font-weight: 700;
	font-family: "Helvetica Regular",sans-serif;
}

section#sidenavbar .navbar .navbar-default {
	background: #fff;
}



.sidebar .navbar {
	background: none;
	border: none;
}

.sidebar .navbar-header .navbar-brand {
	color: #2c3e50;
}




.sidebar .navbar-toggle {
	margin-right: 20px;
	border-color: #2c3e50;
}

.sidebar .icon-bar {
	color: #2c3e50;
}

.sidebar .navbar-default .navbar-header .navbar-toggle .icon-bar {
    background-color: #2c3e50;
}

.sidebar .navbar-default .navbar-header   {
    border: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 30px;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #2c3e50;
    background: none;
	border: 2px solid #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #2c3e50;
    background: none;
	border: 2px solid #2c3e50;
	border-radius: 5px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav .active-link {
    text-decoration: none;
    color: #2c3e50;
    background: none;
	border: 2px solid #D3D3D3;
	border-radius: 5px;
}

.sidebar-nav .active-link a:hover {
    text-decoration: none;
    color: #2c3e50;
    background: none;
	border: 0px;
	border-radius: 5px;
}

.sidebar-nav .active-link a {
    display: block;
    text-decoration: none;
    color: #2c3e50;
    background: none;
	border: 0px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

section#sidenavbar .sidebar .selected-resources  li {
	margin-left: -24px;
	padding-left: 0px;
}

section#sidenavbar .visible-xs {
	padding-left: 5px;
	padding-top: 15px;
}


.timecalc-result {
	border: 2px solid #2c3e50; 
	border-radius: 5px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	padding: 10px 0px 10px 0;
	font-size: 15px;
    background: #D3D3D3;
}


.timecalc-teacher {
	padding-left:0px; 
	text-align: right;
}

@media (min-width: 768px) {
	.sidebar-nav {
	    top: 0;
	    margin: 10px;
	    padding: 0;
		width: 200px;
	}
}

section#scheduler .meetings {
	text-align: center;
	margin-bottom: 10px;
}

section#meetings .meetings {
	text-align: center;
}

section#meetings .future-meetings .btn .btn-sm .btn-outline .connect {
	color: red;
}

section#meetings .btn-outline {
    border: solid 2px #2c3e50;
	margin-top: auto;
	margin-bottom: auto;
    font-size: 15px;
    color: #2c3e50;
    background: 0 0;
    transition: all .1s ease-in-out;
}


section#meetings .btn-outline:hover,
section#meetings .btn-outline:focus,
section#meetings .btn-outline:active,
section#meetings .btn-outline.active {
    border: solid 2px #18bc9c;
    color: #fff;
    background: #18bc9c;
}

section#scheduler .btn-outline {
    border: solid 2px #2c3e50;
	margin-top: auto;
	margin-bottom: auto;
    font-size: 15px;
    color: #2c3e50;
    background: 0 0;
    transition: all .1s ease-in-out;
}


section#scheduler .btn-outline:hover,
section#scheduler .btn-outline:focus,
section#scheduler .btn-outline:active,
section#scheduler .btn-outline.active {
    border: solid 2px #547dbf;
    color: #fff;
    background: #547dbf;
}


#hidden-student {
	padding: 0;
}

/*The following can be removed when the 'under construction' qualifier on front page is being removed
*/
header .row .col-lg-12 .under-construction {
	color: #fff;
	padding: -60px 10px 20px 10px;
	background: #547dbf;	
	margin-top: -120px;
}

@media (max-width: 767px)  {
	header .row .col-lg-12 .under-construction {
		margin-top: -20px;
	}
}

#upload_form {
	padding: 0;
}

/* ================================================
Resources overview page
================================================== */

.resource-link {
	text-decoration: none !important;
}

.resource-link p {
	font-size: 18px;
	color: black;
	margin-bottom:50px;
	text-transform: uppercase;
	font-weight: normal;
}

.btn-sq-lg {
  width: 150px;
  height: 150px;
  margin: 0 5px 20px 5px;
  font-size: 20px;
  font-family: "Helvetica Regular",sans-serif;
  font-weight: 700;
}

.btn-sq-md {
  width: 100px ;
  height: 100px ;
  font-size: 14px;
  font-family: "Helvetica Regular",sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0 5px 20px 5px;
}

.btn-sq-md-custom {
  width: 213px ;
  height: 100px ;
  font-size: 14px;
  font-family: "Helvetica Regular",sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0 5px 20px 5px;
}

@media (max-width: 768px) {
	.btn-sq-md-custom {
	  width: 216px ;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.btn-sq-md-custom {
	  width: 250px ;
	}
}
@media (min-width: 1200px) {
	.btn-sq-md-custom {
	  width: 283px ;
	}
}


.btn-md-custom {
  width: 100px ;
  height: 50px ;
  font-size: 14px;
  font-family: "Helvetica Regular",sans-serif;
  font-weight: 700;
}


.btn-sq-sm {
  width: 50px ;
  height: 50px;
  font-size: 12px;
  font-family: "Helvetica Regular",sans-serif;
  font-weight: 700;
  padding: 0;
}


.btn-sq-xs {
  width: 25px ;
  height: 25px ;
  padding:2px;
}

.explanation {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.explanation-wrapper {
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.explanation-left {
	padding: 0;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
	margin-right: 10px;
}

.explanation-right {
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border: solid 2px #547dbf; 
	background: #eee;
	border-radius: 5px;
	min-height: 50px;
}

.primary-category-title {
	text-align: center;
	padding-bottom: 30px;
}

.primary-category-title h3 {
	font-weight: normal;
}

.primary-category-title a {
	text-decoration: none;
}

.primary-category-title a:hover {
	color: #78a2e4;
}

section#contact .container {
	background: url(/static/img/beach-blue-bridge.png);
	background-size: 100%;
	min-height: 500px;
	background-position-y: bottom;
}

section#contact .container label {
	font-weight: normal;
	font-size: 12px;
}
.contact-col-wrap-l {
	padding: 50px 100px 50px 160px;
}

.contact-col-wrap-r {
	padding: 50px 100px 50px 60px;
}

.font-bold {
	font-weight: bold;
}

.top-headless-margin {
	margin-top:60px;
}

.calendar-event-disabled {
	background-color: lightgray !important;
	border: 1px solid lightgray !important;
	color: darkgray !important;
}

.calendar-event-disabled .fc-event-dot {
	background-color: darkgray !important;
}

.lr-wrapper {
	display: flex;
	justify-content: center;
}

.lr-wrapper a {
	align-self: flex-end;
}

.lr {
	margin-right: 10px;
	border-right: 35px solid black;
}

.lr-k {
	height: 30px;
	border-color: #c1272d;
}

.lr-1 {
	height: 60px;
	border-color: #e84434;
}

.lr-2 {
	height: 90px;
	border-color: #fbb03b;
}

.lr-3 {
	height: 120px;
	border-color: #f7931e;
}

.lr-4 {
	height: 150px;
	border-color: #fcee21;
}

.lr-5 {
	height: 180px;
	border-color: #8cc63f;
}

.lr-6 {
	height: 210px;
	border-color: #32a750;
}

.lr-7 {
	height: 240px;
	border-color: #006837;
}

.lr-8 {
	height: 270px;
	border-color: #29abe2;
}

.lr-9 {
	height: 300px;
	border-color: #0071bc;
}

.lr-10 {
	height: 330px;
	border-color: #00447e;
}

.lr-11 {
	height: 360px;
	border-color: #662d91;
}

.lr-12 {
	height: 390px;
	border-color: #3b2d91;
}

.lr-buttons {
	display: grid;
	grid-row-gap: 20px;
}

.lr-buttons a {
	color:white;
	font-family: "Helvetica Regular",sans-serif;
	text-decoration: none;
}

.lr-btn-sm {
	height: 65px;
	width: 125px;
	background-color: #e84434;
	align-items: center;
	justify-content: center;
	display: flex;
}

.lr-btn-lg {
	height: 135px;
	width: 125px;
	background-color: #e84434;
	align-items: center;
	justify-content: center;
	display: flex;
}

.lr-btn-graduate {
	background-color: #537dbe
}

.lr-btn-upper {
	background-color: #32a750
}

.lr-btn-lower {
	background-color: #f6ba17
}

.lr-btn-suprise {
	background-color: #e84434
}

.lr-numbers {
	margin:auto;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	grid-column-gap: 10px;
	width: 710px;
}

.lr-num {
	display: inline-block;
	width: 30px;
	text-align: center;
	color:black;
	font-family: "Helvetica Regular",sans-serif;
}

@media (min-width: 992px) {
	.lr {
		margin-right: 15px;
		border-width: 45px;
	}

	.lr-numbers {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
		grid-column-gap: 15px;
		width: 885px;
	}

	.lr-btn-sm {
		width: 105px;
	}
	
	.lr-btn-lg {
		width: 105px;
	}
}

.btn-primary {
	background-color: #547dbf;
}

input[type="checkbox"] {
	background-color: white;
	-webkit-appearance: none;
	border: 1px solid #5175b1;
	padding: 6px;
	border-radius: 3px
}

input[type="checkbox"]:checked {
	background-color: #547dbf;
	color: #fff;
}

input[type="checkbox"]:checked:after {
	content: '\2714';
	font-size: 11px;
	position: absolute;
	top: -2px;
	left: 1px;
	color: #fff;
	font-family: "FontAwesome";
}

label {
	font-family: "Helvetica Regular",sans-serif;
	font-weight: 700;
}

btn {
	font-family: "Helvetica Regular",sans-serif;
	font-weight: 700;
}