{% extends "index.html" %}
{% load static %}

{% block extra_head %}
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">	
	<link href="{% static 'calendar/core/main.min.css' %}" rel="stylesheet" />
	<link href="{% static 'calendar/daygrid/main.min.css' %}" rel="stylesheet" />
	<link href="{% static 'calendar/timegrid/main.min.css' %}" rel="stylesheet" />
	<link href="{% static 'calendar/list/main.min.css' %}" rel="stylesheet" />
	<link href="{% static 'calendar/bootstrap/main.min.css' %}" rel="stylesheet" />
	<script src="{% static 'calendar/core/main.min.js' %}"></script>
	<script src="{% static 'calendar/interaction/main.min.js' %}"></script>
	<script src="{% static 'calendar/daygrid/main.min.js' %}"></script>
	<script src="{% static 'calendar/timegrid/main.min.js' %}"></script>
	<script src="{% static 'calendar/list/main.min.js' %}"></script>
	<script src="{% static 'calendar/bootstrap/main.min.js' %}"></script>	
{% endblock %}


{% block content %}

<section id="meetings" >
	<div class="container">
		<div class="row">			
			<div class='col-12 section-title'>
				<h3>Calendar</h3>	
				{% if isScheduler %}
					<p id='scheduler_title'> Note times refer to teacher's and student's timezone.</p>
				{% else %}
					<p> Note that all times refer to your timezone.</p>
					<p> Your timezone is: {{ timezone }} </p>
				{% endif %}					
			</div>			
		</div>
		<hr/>		
		{% if isScheduler %}
			<section class="light" style="padding:0px" id="scheduler">
				<form method="post" class="form-horizontal" id="scheduler-form">
					{% csrf_token %}
					<div class="row form-group">				
						<label for="id_teacher" class="col-sm-1 control-label label_search_calendar">Teacher:</label>
						<div class="col-sm-4 controls">
							{{ calendarSearch.teacher }}
						</div>	
				
						<label for="id_student" class="col-sm-1 control-label label_search_calendar">Student:</label>
						<div class="col-sm-4 controls">
							{{ calendarSearch.student }}
						</div>				
									
						<div class="col-sm-2">				
							<button type="submit" class="btn-outline btn btn-default" id="searchBtn">
								<span class="glyphicon glyphicon-search" style="margin-right: 8px;" aria-hidden="true"></span>
								Search
							</button>				
						</div>						
					</div>
				</form>	
			</section>
			<hr/>
		{% endif %}
		<div id="calendar"></div>		
	</div>
</section>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');

			var calendar = new FullCalendar.Calendar(calendarEl, {
				plugins: [ 'bootstrap', 'dayGrid', 'timeGrid', 'list', 'interaction' ],
				themeSystem: 'bootstrap',
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
				},     
				navLinks: true, 
				editable: true,
				eventLimit: true, 
				eventRender: function (info) {
					$(info.el).tooltip({ title: info.event.title });     
				},	  
				displayEventTime: false,			
				timeZone: '{{ timezone }}',
				events:{
					url: "{% url 'get_calendar' %}",
					type: 'GET',
					extraParams: {
        				teacher_id: $('#id_teacher').val(),
						student_id: $('#id_student').val()
      				},				
				},
			});

			calendar.render();
		});
	</script>	
	{% if isScheduler %}
		<script>
		
			function set_title(){
				var title  = $('.fc-center h2').text();
				const additional_text = ' (PST)';
				if (!title.includes(additional_text))
					$('.fc-center h2').html($('.fc-center h2').text() + additional_text);
			}

			function set_title_click(){
				$('.fc-dayGridMonth-button').click(set_title);
				$('.fc-timeGridWeek-button').click(set_title);
				$('.fc-timeGridDay-button').click(set_title);
				$('.fc-listWeek-button').click(set_title);
			};

			$(document).ready(function(){
				$("body").on('DOMSubtreeModified', ".fc-center", set_title_click);
				set_title_click();
				set_title();
			});			
		</script>
	{% endif %}
	
{% endblock %}
